
*{ margin:0; padding:0;}
ul{ list-style: none;}
img{ display: block;}
h1,h2,h3{ font-size:16px; font-weight: normal;}
a{ text-decoration: none; color:#333333;}
html,body{ font-family: Arial; height:100%; overflow-y: hidden;}

.l{ float: left;}
.r{ float: right;}
.clear:after{ content:""; display: block; clear:both;}

#header{ height:80px; background:#018ffb; border-top:5px #424147 solid;}
#header .header_logo h1{ margin:19px 14px 0 20px;}
#header .header_logo h2{ color:white; font-size:24px; line-height: 25px; margin-top: 28px;}
#header .header_nav{ color:white; font-size:14px; line-height: 14px; margin-top:33px;}
#header .header_nav li{ float:left; margin-right:25px;}
#header .header_nav a{ color:white;}
#header .header_nav i{ color:white; margin-right:8px;}
#header .header_nav i.iconwode{ font-size:24px; position: relative; top:4px; line-height: 8px;}
#header .header_nav i.iconshouye{ font-size:20px; position: relative; top:2px; line-height: 12px;}

#menu{ width:200px; background:#424147; height:calc(100% - 85px);}
#menu ul{ color:#9a999e; text-align: center;}
#menu li{ height:140px; border-bottom: 1px #3a393e solid; border-top:1px #49484e solid;}
#menu li.active{ color:white; background:#4e4d53;}
#menu li a{ color:inherit; width:100%; height:100%; display:block; padding-top:35px; box-sizing: border-box;}
#menu li i{ font-size:40px;}
#menu li p{ margin-top: 15px;}

#main{ overflow: hidden; height:calc(100% - 85px - 50px);}
#main .main_container{ height:100%; overflow: auto;}

#footer{ height:49px; border-top:1px #dbe7ed solid; background:#f1f9fc; text-align: right; font-size:12px; color:#888888; line-height: 49px; margin-right: 20px;}

#projectTitle .projectTitle_text{ margin:21px 0 0 22px; color:#333333; }
#projectTitle .projectTitle_text h2{ font-size:24px; line-height: 25px;}
#projectTitle .projectTitle_text p{ font-size:14px; line-height: 30px; margin: 10px 0 13px 0;}
#projectTitle .projectTitle_text i{ font-size:22px; color:#CCCCCC; margin-left: 30px;}
#projectTitle .projectTitle_text span{ color:#999999;}
#projectTitle .projectTitle_img{ width:200px; height:149px; margin: 20px 20px 0 0;}

#projectList .projectList_btns{ height:54px; background:#f1f9fc; border-top:1px #e0eaef solid; border-bottom: 1px #dbe7ed solid;}
#projectList .projectList_btns ul{ margin:14px 0 0 20px;}
#projectList .projectList_btns li{ float:left; width:108px; height:39px; border:1px #dbe7ed solid; border-bottom: none; background: #fbfeff; color:#666666; text-align: center; line-height: 39px; margin-right:12px; border-radius: 5px 5px 0 0; cursor: pointer;}
#projectList .projectList_btns li.active{ color:white; background:#018ffb; position: relative;}
#projectList .projectList_btns li.active:after{ content:""; display: block; position: absolute; width:11px; height:6px; background:url('./images/arrow.png') no-repeat; bottom:-6px; left:50%; margin-left:-6px;}

#projectList .projectList_cons{ margin:20px;}
#projectList .projectList_cons>div{ display: none;}
#projectList .projectList_cons>div.show{ display: block;}
#projectList .zl_upload1 , #projectList .zl_upload2{
    width:110px; height:32px;
    line-height: 32px; text-align: center;
    font-size:14px; color:white;
    border-radius: 5px; cursor: pointer;
}
#projectList .zl_upload1 input , #projectList .zl_upload2 input{ display: none;}
#projectList .zl_upload1 label , #projectList .zl_upload2 label{ cursor: pointer;}
#projectList .zl_upload1{ background:#5FD15C;}
#projectList .zl_upload2{ background:#34C1DA; margin-left:20px;}
#projectList .iconshangchuan1{ font-size:12px; position: relative; top:-1px;}

#projectList .zl_search{
    width:210px; height:30px;
    border:1px #dbe7ed solid;
    border-radius: 5px; overflow: hidden;
}
#projectList .zl_search input{
    border:none;
    width:177px; height:100%;
    color:#999999; font-size:14px;
    text-indent: 9px;
    position: relative; top:-3px; outline: none;
}
#projectList .zl_search button{
    width:32px; height:32px; border:none; border-left:1px #dbe7ed solid;
    background-image: linear-gradient(#FCFDFD , #F1F9FC); cursor: pointer;
}
#projectList .zl_search i{
    font-size:18px; font-weight: bold; color:#A1C6D4;
}

#projectList .zl_table{ clear:both; width:100%; border:1px #dbe7ed solid; font-size:12px; border-collapse: collapse; position: relative; top:20px;}
#projectList .zl_table tr{ height:32px; border-bottom: 1px #e7eff3 solid;}
#projectList .zl_table tr:hover{ background:#f1f9fc;}
#projectList .zl_table th{ border-right:1px #dbe7ed solid; color:#666666; font-weight: normal; text-align: left; text-indent:12px; background:#f1f9fc;}
#projectList .zl_table td{ text-indent:12px;}
#projectList .zl_table th:first-child , #projectList .zl_table td:first-child{ text-align: center; text-indent: 0;}
#projectList .zl_table .iconword{ margin-right: 13px; color:#0173ca;}
#projectList .zl_table .iconxiazai{ color:#3da2f0;}
#projectList .zl_table .iconshanchushaixuanxiang{ color:#d94141;}

#projectList .zl_footer{ height:70px; border: 1px #dbe7ed solid; border-top:none; margin-top:20px; overflow: hidden;}
#projectList .zl_remove , #projectList .zl_download{ width:78px; height:24px; border:1px #c9e4f1 solid; border-radius: 3px; background-image: linear-gradient(#F7FCFF , #E7F4FA); margin-top: 18px; font-size:12px; color:#1B84BA; cursor: pointer;}
#projectList .zl_remove{ margin-right: 15px; margin-left: 22px;}
#projectList .zl_page{ line-height: 24px; margin:22px 18px 0 0; font-size:0;}
#projectList .zl_page a{ border:1px #e6e6e6 solid; padding:6px 9px; font-size:12px; margin-left:10px;}
#projectList .zl_page a.active{ border:1px #3797e0 solid; background:#42adff; color:white;}
